/* body style */
body{
    background-image: url(images/image.png);
    background-repeat: repeat;
    background-size: cover;
}



/* whole container inside h=the body */
.container {
    height: 550px;
    width: 500px;
    background-color: lightgray;
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 250px;
    padding: 10px;

}

.container h1{
    text-align: center;
    margin-bottom: 10px;
    font-family: "Tahoma";
}



/* Bio section */
.container .pic{
    font-family: "Georgia";
    height: 430px;
    width: 300px;
    border: 1px solid;
    position: relative;
    top: 5px;
    left: 25px;
    padding: 10px;
    border-radius: 10px;
}

.container .pic img{

    border-radius: 180%;
    margin: auto 50px;
    margin-top: 10px;
    height: 200px;
    width: 200px;
}

.container .pic p{
    font-size: 15px;
    margin: 25px;
    text-align: justify;


}



/* Hobbies & Likes section */

.container .hobbies{
    font-family: "Georgia";
    height: 240px;
    width: 600px;
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
    top: 85px;
    left: 380px;
    
}

.container .hobbies h3{
    font-family: "Georgia";
    margin: 10px;
}

.container .hobbies ol{
    font-family: "Georgia";
    line-height: 30px;
}
.container .hobbies button{
    font-family: "Georgia";
    display: block;
    position: relative;
    top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    height: 30px;
    width: 70px;
}

.hobby-output {
    font-family: "Georgia";
    position: relative;
    bottom: 430px;
    left: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;

}

.hobby-output img{
    height: 140px;
    width: 210px;
    margin-left: 15px;
}



/* Skills section */
.container .skills{
    font-family: "Georgia";
    font-size: 15px;
    height: 185px;
    width: 285px;
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
    top: 348px;
    left: 380px;
}

.container .skills h3{
    margin: 10px;
}

.container .skills ul{
    line-height: 30px;
}


/* Contact Information section */
.container .contact{
    font-family: "Georgia";
    font-size: 15px;
    height: 185px;
    width: 285px;
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
    top: 348px;
    left: 695px;

}

.container .contact h3{
    margin: 10px;
}

.container .contact i{
    margin: 15px;
    display: block;
}

.container .contact p{
    font-family: "Georgia";
    font-size: 14px;
    display: block;
    position: relative;
    bottom: 140px;
    left: 60px;
    line-height: 30px;
}

.container .contact a{
    font-family: "Georgia";
    font-size: 15px;
    position: absolute;
    top: 140px;
    left: 60px;
}

@media (max-width: 600px){
    /* container full width */
    .container {
        width: 95%;
        margin: 20px auto;
        height: auto;
        padding: 10px;
    }

    /* Reset all absolutely positioned sections */
    .container .pic,
    .container .hobbies,
    .hobby-output,
    .container .skills,
    .container .contact {
        position: static; /* remove absolute */
        width: 100%;      /* full width */
        margin: 10px 0;   /* spacing between sections */
        top: 0;
        left: 0;
    }

    /* Make buttons and images responsive */
    .container .pic img,
    .hobby-output img {
        display: block;
        width: 100%;
        height: auto;
        margin: 10px auto;
    }

    .container .hobbies button {
        width: 100%;
        margin: 5px 0;
    }

    /* Center contact info */
    .container .contact i,
    .container .contact p,
    .container .contact a {
        display: block;
        text-align: center;
        margin: 5px 0;
    }
}